<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Todo App</title>
    </head>
    <body>
        <h1>The Project App</h1>
        <img 
            th:src="${imageSrc}" 
            style="width: 200px; height: auto;" 
            alt="Random image from the internet"
        >
        <form>
            <input type="text" maxlength="140"/>
            <button type="submit">Create todo</button>
        </form>
        <ul>
            <li>Clean kitchen</li>
            <li>Learn Kubernetes</li>
            <li>Learn Terraform</li>
        </ul>
        <p>DevOps with Kubernetes 2026</p>
    </body>
</html>